body {
				text-align:center;
				font-size: 35px;
				color: #2c3e50;
				background: url(http://25.media.tumblr.com/tumblr_m59mm37Uk31qh3v5mo1_500.jpg);
			}
			a{
				color: #8e44ad;
			}

			ul{
				padding: 10px;
			}

			p{
				font-size: 20px;
				color: #2c3e50;
				font-family:'Dancing Script', cursive;
				}
			h1{
				font-size: 100;
				font-family: 'Dancing Script', cursive;
				text-decoration:underline;
				}
			h3{
				color: black;
				font-family: 'Dancing Script', cursive;
				}
			a{
				color:purple;
			}
			img {
				width:200px;
				height:200px;
				width:300px;
				height:300px;
				border:30px solid #9b59b6;
				padding: 10px;
				border-radius:10px;
			}
			div{
				height:150px;
    		width:300px;
    		border-color:#9b59b6;
    		background-color:white;
    		border-style:solid;
    		border-width:2px;
    		border-radius:20px;
    		margin:auto;
    		text-align:center;
			}
