<!DOCTYPE html>
<html>
	<head>
		<link href='http://fonts.googleapis.com/css?family=Dancing+Script:700' rel='stylesheet' type='text/css'>
			<link href="/normalize.css" rel="stylesheet.css">
			<link type="text/css" rel="stylesheet" href="stylesheet.css"/>
			<title>Adriana Molello</title> 
		</head>
				<body>
	  			<header>
	  <h1>Adriana Molello</h1>
	  	<table>
	  		<tbody>
	  			<tr>
						<td><img src="https://ci5.googleusercontent.com/proxy/SBUaJISo5STgrg3mt5JNWW40-DpNeFXP76x3ksiUf8lQH7EAiCIU8lwR5yOihv8o6eppWyxGmGuT9ddMgrfJ4sM6E734HWrIo_QXqe_Dck7Hy4doIq6RpWyTroDSCU8aT-PZ6I-1ufLXgyZV3LkDSKsxnaCJTSzIhfVVlIuTMAjjUU0Z1HKRCvwTi7YS1U1Hi3ECcs_8gxcK-VrliV0VrDzrXHgwj_kjgIdD0rLfqrLJR8NOUazJ6-HD0w-_AzsmYLOqECUIy8Yhxyw4yLfh0UGl=s0-d-e1-ft#https://photos-2.dropbox.com/t/2/AABoWEuW7RKCcqBjj8mojbs6bqEW0Dh-MYsdL_BIq-WMSQ/12/85059658/jpeg/200x200/1/_/0/4/1.jpg/CMrQxyggASACIAMoASgC/8iopg9e2i4m3exx/AACSyjqg00LOY1Dw7arUZWlva/1.jpg"/></td>
	  				<td><img src="https://ci5.googleusercontent.com/proxy/SBUaJISo5STgrg3mt5JNWW40-DpNeFXP76x3ksiUf8lQH7EAiCIU8lwR5yOihv8o6eppWyxGmGuT9ddMgrfJ4sM6E734HWrIo_QXqe_Dck7Hy4doIq6RpWyTroDSCU8aT-PZ6I-1ufLXgyZV3LkDSKsxnaCJTSzIhfVVlIuTMAjjUU0Z1HKRCvwTi7YS1U1Hi3ECcs_8gxcK-VrliV0VrDzrXHgwj_kjgIdD0rLfqrLJR8NOUazJ6-HD0w-_AzsmYLOqECUIy8Yhxyw4yLfh0UGl=s0-d-e1-ft#https://photos-2.dropbox.com/t/2/AABoWEuW7RKCcqBjj8mojbs6bqEW0Dh-MYsdL_BIq-WMSQ/12/85059658/jpeg/200x200/1/_/0/4/1.jpg/CMrQxyggASACIAMoASgC/8iopg9e2i4m3exx/AACSyjqg00LOY1Dw7arUZWlva/1.jpg"/></td>
	  				<td><img src="https://ci5.googleusercontent.com/proxy/SBUaJISo5STgrg3mt5JNWW40-DpNeFXP76x3ksiUf8lQH7EAiCIU8lwR5yOihv8o6eppWyxGmGuT9ddMgrfJ4sM6E734HWrIo_QXqe_Dck7Hy4doIq6RpWyTroDSCU8aT-PZ6I-1ufLXgyZV3LkDSKsxnaCJTSzIhfVVlIuTMAjjUU0Z1HKRCvwTi7YS1U1Hi3ECcs_8gxcK-VrliV0VrDzrXHgwj_kjgIdD0rLfqrLJR8NOUazJ6-HD0w-_AzsmYLOqECUIy8Yhxyw4yLfh0UGl=s0-d-e1-ft#https://photos-2.dropbox.com/t/2/AABoWEuW7RKCcqBjj8mojbs6bqEW0Dh-MYsdL_BIq-WMSQ/12/85059658/jpeg/200x200/1/_/0/4/1.jpg/CMrQxyggASACIAMoASgC/8iopg9e2i4m3exx/AACSyjqg00LOY1Dw7arUZWlva/1.jpg" /></td>
	  			</tr>
	  	</tbody>
	  </table>
	</header>
		<h3><em>It was during a high school trip to New York City that I knew I wanted to live in the big apple. Originally from Denver Colorado, I moved to the city at the humble age of 18. In 2010 I received a BM in violin performance from Queens College and began pursuing my career as a violinist. From playing at Madison Square Garden, to the Met Ball uptown, it's been quite a ride. New York City has given me so many musical opportunities as well a chance to pursue a myriad of other interests, here are a few of them-</em></h3>
				<ul>
						<li><a href="https://www.flickr.com/photos/molello/9659381933/in/set-72157635367299878">I'm partial to the Middle East & have traveled to Turkey, Lebanon, Israel & Palestine</a></li>
						<li><a href="http://www.marthastewart.com/1013366/martha-short#1013366">I love to entertain!</a></li>
						<li><a href="https://www.flickr.com/photos/molello/12450528053/in/set-72157640813498324">I climbed the Great Wall of China</a></li>
						<li><a href="http://www.noelpointer.org/">I've been busy teaching violin class out in East Brooklyn</a></li>
						<li><a href="http://fuckyeahdebeauvoir.tumblr.com/page/2">I like learning about other artists, this week these words struck me</a></li>
				</ul>
		<div>
		<p>adrianamolello@gmail.com</p>
		<p>267 North 9th Street, Brooklyn NY</p>
		<p>347.861.8591<p>
		</div>
	</body>
</html>

